# Byte-compiled / optimized files
_pycache_/
*.py[cod]
*$py.class

# Environment and virtual environment files
.env
.venv/
env/
venv/
ENV/

# Dependency directories
lib/
libs/
bower_components/
node_modules/
jspm_packages/
venv/
env/

# Logs and databases
*.log
*.sql
*.sqlite3
db.sqlite3

# Compiled Python files
*.pyc

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
