pip install flask
pip install mysql-connector
pip install mysql-connector-python
pip install mysql-connector-python-rf
pip install pymysql
pip install cryptography
pip install Flask-WTF
pip install Flask-Login
pip install WTForms
pip install Flask-Login
pip install Flask-SQLAlchemy
pip install Flask-WTF
pip install itsdangerous==1.1.0
pip install Pillow
pip install Flask-Mail
pip install bcrypt
pip install numpy
pip install pandas

Run this code in the terminal py run.py or pyhton run.py
