{% extends "layout.html" %}
{% block body %}
    <h1>Home Page</h1> 
    {% for blog in blog %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ blog.author }}</a>
            <small class="text-muted">{{ blog.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ blog.title }}</a></h2>
          <p class="article-content">{{ blog.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock body %}