{% extends "layout.html" %}
{% block body %}

<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sentiment Analysis</legend>
            <div class="form-group">
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit1(class="btn btn-outline-info") }}
            </div>
            {% if text and sentiment %}
            <div class="alert alert-info">
                <p class="mb-0">Tokenized Text: {{ tokenized_text }}</p>
                <p class="mb-0">Sentiment: {{ sentiment }}</p>
            </div>
            {% endif %}
        </fieldset>

        <fieldset class="form group">
            <div class="form-group">
                {{ form.file.label() }}
                {{ form.file(class="form-control-file") }}
                {% if form.file.errors %}
                    {% for error in form.file.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit2(class="btn btn-outline-info") }}
            </div>
            {% if table_data %}
                <h2 class="mt-5">Analysis Results (first 10 data)</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                {% for column in df.columns %}
                                    <th>{{ column }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in df.head(10).itertuples(index=False, name=None) %}
                                <tr>
                                    <td>{{ loop.index }}</td>  <!-- Add numbering column -->
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                    <a href="{{ url_for('download_data') }}" class="btn btn-primary">Download Full Data</a>

                </div>
            {% endif %}
        </fieldset>

    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

{% endblock body %}
