{% extends "layout.html" %}
{% block body %}


<div class="container-fluid">
    <h1 class="mt-5">Leave Your Review</h1>

    <div class="row mt-5 justify-content-center">
        <h4><i>The Ghost And The Tout Too</i></h4>
        <div class="col-md-12 mb-4">
            <div class="card movie-card">
                <img src="{{url_for('static', filename='moviepics/movie3.jpg')}}" class="card-img-top movie-image" alt="Movie 3">
            </div>
            <div>
                <p>Genre: <i>Comedy, Fantasy</i></p>
            </div>
            <div>
                <h1></h1>
                <h4>Summary:</h4>
                <p>A woman who can reluctantly communicate with ghosts tries to help the spirit of a woman whose body is in a coma, leaving her trapped between life and death.</p>
            </div>

            <div class="divider"></div>

            <div>
                <p><b>Director:</b> <i>Michael Akinrogunde</i></p>
            </div>
            <div class="divider"></div>
            <div>
                <p><b>Writers:</b> <i>Uyoyou Adia, Yusuf Carew, Akay Ilozobhie</i></p>
            </div>
            <div class="divider"></div>
            <div>
                <p><b>Stars:</b> <i>Ayomide Abayode, Alexander Abolore, Anthony Abraham</i></p>
            </div>
            <div class="divider"></div>

            <div>Leave your review:</div>
            
            <div class="content-section " >
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">New Review</legend>
                        
                        <div class="form-group">
                            {{ form.review.label(class="form-control-label") }}
        
                            {% if form.review.errors %}
                                {{ form.review(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.review.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.review(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>



        </div>



    </div>




</div>    




<style>

.divider {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
</style>

{% endblock body %}