{% extends "layout.html" %}
{% block body %}


<div class="container-fluid">
    <h1 class="mt-5">Movie Reviews</h1>

    <div class="row mt-5 justify-content-center">
        <h4><i>Battle on Buka Street</i></h4>
        <div class="col-md-12 mb-4">
            <div class="card movie-card">
                <img src="{{url_for('static', filename='moviepics/movie1.jpeg')}}" class="card-img-top movie-image" alt="Movie 1">
            </div>
            <div>
                <p>Genre: <i>Comedy</i></p>
            </div>
            <div>
                <h1></h1>
                <h4>Summary:</h4>
                <p>After a lifetime of rivalry, two half-sisters find themselves at loggerheads once again when they set up food businesses on the same street.</p>
            </div>

            <div class="divider"></div>

            <div>
                <p><b>Directors:</b> <i>Funke Akindele, Tobi Makinde</i></p>
            </div>
            <div class="divider"></div>
            <div>
                <p><b>Writers:</b> <i>Funke Akindele, Jack'enneth Opukeme, Stephen Oluboyo</i></p>
            </div>
            <div class="divider"></div>
            <div>
                <p><b>Stars:</b> <i>Pat Adams, Bimbo Ademoye, Victor Adesokan</i></p>
            </div>
            <div class="divider"></div>

            <div style="margin-bottom: 10px;">
                <h3>Users Reviews</h3>
            </div>
            
            {% if total_reviews > 0 %}
                <div style="font-size: 18px;">
                    Total Reviews: {{ total_reviews }}<br>
                    Percentage of Positive Reviews: {{ percentage_positive }}%<br>
                    Percentage of Negative Reviews: {{ percentage_negative }}%<br>
                    {% if percentage_positive > percentage_negative %}
                        <p style="color: green; font-weight: bold;">Recommendation: Recommended</p>
                    {% elif percentage_positive < percentage_negative %}
                        <p style="color: red; font-weight: bold;">Recommendation: Not Recommended</p>
                    {% else %}
                        <p style="color: blue; font-weight: bold;">Recommendation: Neutral</p>
                    {% endif %}
                </div>
            {% else %}
                <div style="font-size: 18px;">
                    No reviews available.
                </div>
            {% endif %}


            {% for review in review %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profilepics/' + review.user.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                    <a class="mr-2" href="#">{{ review.user.username }}</a>
                    <small class="text-muted">{{ review.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <p class="article-content">{{ review.review }}</p>
                    <p class="article-content"><span style="color: brown;">Review Sentiment:</span> {{ review.review_sentiment }}</p>
                </div>
                </article>
            {% endfor %}

            



        </div>



    </div>




</div>    




<style>

.divider {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
</style>

{% endblock body %}